* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* :root {
    --bg1: pink;
    --bg2: yellow;
    --bg3: aqua;
} */

body {
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    /* min-height: 100vh; */
    background-color:rgb(110, 109, 106);
    font-family: 'poppins', sans-serif;
    padding: 30px;
}

.cards {
    display: grid;
    gap: 30px;
    max-width: 1200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

@media only screen and (max-width:700px) {
    .cards {
        display: block;
        max-width: 450px;
    }
}

.card {
    background-color:white;
    padding: 30px;
    border-radius: 12px;
    transition: height 0.3s ease-in-out;
    margin-top: 100px;
    /* height: 300px; */
}

.card .img-holder {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
    background-image: url(https://img.freepik.com/premium-photo/orange-yellow-watercolor-paper_851755-81.jpg);
}

/* .card:nth-child(1) .img-holder {
    background-color: var(--bg1);

}

.card:nth-child(2) .img-holder {
    background-color: var(--bg2);

}

.card:nth-child(3) .img-holder {
    background-color: var(--bg3);

}

.card:nth-child(4) .img-holder {
    background-color: var(--bg1);

}

.card:nth-child(5) .img-holder {
    background-color: var(--bg2);

}

.card:nth-child(6) .img-holder {
    background-color: var(--bg3);

} */

.card h2,
.card p {
    margin-bottom: 15px;
}

.card p {
    display: none;
    /* text-align: center; */
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.1s;
}

.card a {
   display: none;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.1s;
    /* display: inline-block; */
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 4px;
    background-color: red;
}

.card-content {
    height: 35px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.card:hover .img-holder {
    transform: scale(0.9);
    margin-top: -120px;
}

.card:hover .card-content {
    height: 200px;
    overflow: hidden;
}

.card:hover p {
    display: block;
   
}
.card:hover a {
    display: inline-block;
   
}