* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.h1 {
    font-weight: 800;
    font-size: 80px;
    color: rgb(81, 79, 79);
    padding: 2px 2px 30px 0px;

}

.h11 {
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    color: rgb(81, 79, 79);
    padding: 45px 2px 35px 40px;
}


.web-container {
    display: flex;
    padding-top: 20px;
    /* justify-content: space-between; */
    font-size: 20px;
    width: 100%;
    /* gap:30px; */
    position: relative;
    left:-80%;
    opacity: 0;
    animation: animate .7s ease-out  1 forwards;
}

@keyframes animate {
    to{
        left:0%;
       opacity: 1;
    }
    
}

.image-holder {
    width: 50%;
    order: 1;
    clip-path:  polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0); ;
     background-color: black;
}


.image-holder img {
    width: 70%;
    /* height: 70%; */
    /* border-radius: 50%; */
    /* border: 7px solid orange; */
    /* padding: 2px; */
}

.web-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    order: 2;
    padding: 2px 2px 2px 40px;
}

.images {
    width: 60%;
}



.ulistt {
    display: flex;
    list-style: none;
    padding: 35px 7px 40px 77px;
}

.web-container2 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

}

.divbox {
    /* border: 2px solid black; */
    padding: 22px 40px 20px 40px;
    border-radius: 40px;
    box-shadow: 2px 2px 2px 2px orange;
    font-size: 20px;
    font-weight: 600;
    transition: all .5s ease-in-out;
  
}

.divbox:hover {
    /* background: linear-gradient(to top right, #FF512F 10%, #F09819 61%); */
    background-color: orange;
    /* box-shadow: none; */
    color: white;
}

.web-container3 {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0px 30px 0px 30px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    

}

.web-container3 h2 {
    line-height: 2;
    font-weight: 900;
    font-size: 29px;
}

.web-container3 p {
    line-height: 1.6;
    font-size: 18px;
    color: #374151;
    font-family: sans-serif;

}

.web-container3 img {
    width:40%;
}

.web-container3 div:nth-child(1) img{
    width: 44%;
    padding-top: 19px;
}

.web-container3 div {
  
    border-radius: 10px;
    padding: 0px 30px 30px 30px;
    background-color: white;
    transition: all .3s ease;
    width: 22%;
    margin-bottom: 20px;


}
.web-container3 div:hover{
    transform: translateY(-20px) ;
    
}

.icons {
    width: 100%;
    padding: 30px 0px 0px 30px;
}


.container2{
    background-color: antiquewhite;
    margin-top: 50px;
}